*{
	padding: 0;
	margin: 0;
	border: 0;
}
html{
	font-family: Philosopher;
	font-weight: 400;
}
input, button, textarea{
	font-family: inherit;
}
input::-ms-clear{display: none;}

*,*::before,*::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul,ol,li{
	list-style: none;
}
a,button{
	cursor: pointer;
	text-decoration: none;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

img{
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
	font-size: inherit;
	font-weight: inherit;
}
.container{
	max-width: 1220px;
	margin: 0 auto;
}
.title{
	font-family: Philosopher;
	font-style: italic;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	color: #8B0000;
	text-decoration: underline;
}
/*-------------------------------*/
.header{
	height: 100vh;
	background-size: cover;
	font-family: Philosopher;
	font-weight: 400;
}
.header__top{
	height: 100px;
	background-color: rgba(186, 153, 87, 0.4);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-link{
	display: inline-block;
}
.header__logo{
	width: 60px;
	height: 60px;
	margin-left: 20px;
}
.header__burger{
	display: none;
}
.header__list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.header__item{
	margin: 0px 20px 10px 0px;
}
.header__item a:hover{
    text-decoration: underline;
}
.header__link{
    font-style: italic;
    font-size: 24px;
    color: #fff;
}
.header__title-wrapper{
    padding: 20px ;
	background-color: rgba(186, 153, 87, 0.8) ;
	margin: 200px auto 0px;
	width: 600px;
	transform-style: flat;
	perspective: 300px;
	perspective-origin: center center;
	animation:rotate 5s;
	border-radius: 20px;
	box-shadow: 3px 3px 20px 5px rgb(46, 44, 41);
}
	@keyframes rotate {
	 0% {
	 	transform: rotateX(90deg) translate3d(0px, -320px, 200px);

	 }
     100% {
    transform: rotateX(0deg) translate3d(0, 0px, 0);
  }
}
.header__title{
	font-family: Philosopher;
	font-style: normal;
	font-weight: 700;
	color: #8B0000;
	font-size: 45px;
	line-height: 1.4;
	text-align: center;
}
@media (max-width: 800px) {
	.header__title{
	font-size: 40px;
	}
}
@media (max-width: 670px) {
	.header__title{
	font-size: 30px;
	}
	.header__title-wrapper{
		width: 400px;
	}
}
@media (max-width: 600px) {
	 .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 70px;
    z-index: 6;
    margin-right: 20px;
}
 .header__burger span{
    display: block;
    position: absolute;
    background-color: #fff;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
    z-index: 6;
}
 .header__burger::before,
 .header__burger::after{
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
 } 
 .header__burger::before{
    top: 0;
 } 
 .header__burger::after{
    bottom: 0;
 }
 .header__burger.active span{
    transform: scale(0);
 }
 .header__burger.active::before{
    transform: rotate(45deg);
    top: 9px;
 }
  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
 }
 .header__menu{
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(186, 153, 87);
    padding: 70px 10px 20px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
 }
 .header__menu.active{
    top: 0;
 }
 .header__list{
    display: block;
 } 
 .header__list li{
    margin: 20px 15px;
 }
}
@media (max-width: 420px) {
	.header__title{
	font-size: 25px;
	}
	.header__title-wrapper{
	width: 300px;
	}
}
/*-------------------------------*/
.assortiment{
	padding: 50px;
	background-color: rgba(186, 153, 87, 0.1);
}
.assortiment__title{
	margin-bottom: 45px;

}

.assortiment__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 5px 0;
}

.assortiment__accordion{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.accordion__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #dee2e6;
    border-top: none;
    color: #212529;
    background-color: #fff;
}

.accordion:first-child {
    border-top: 1px solid #dee2e6;
}

.accordion__title.active{
    box-shadow: 0 0 12px 1px rgba(186, 153, 87, 0.8);

}
.accordion__title:active{
	background-color: #dee2e6;
}
.accordion__title span{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}

.accordion__title.active span{
    transform: rotate(45deg);
}

.accordion__title span::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #a1a3a5;
}

.accordion__title span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #a1a3a5;
}

.accordion__content{
    overflow: hidden;
    padding: 0 20px 5px;
    box-sizing: content-box;
    border: 1px solid #dee2e6;
    border-top: none;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}

.accordion__content.active{
    visibility: visible;
    opacity: 1;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.accordion__item{
	margin-bottom: 5px;
    list-style: disc inside;
}
.accordion__item a{
    color: #8B4513;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
}
.assortiment__button{
	text-align: center;
	margin: 20px auto 0;
	display: block;
	font-family: inherit;
	font-weight: 700;
	font-size: 22px;
	color: #8B4513;
	line-height: 1.2;
	padding: 15px;
	background-color: rgba(186, 153, 87, 0.8);
	width: 300px;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}
.assortiment__button:hover{
    box-shadow: 6px 10px 10px 5px #8B4513;
    transform: translate(10px 10px);
}
@media (max-width:1000px) {
	.assortiment{
    padding: 50px 10px;
	}
}
@media (max-width: 400px) {
	.assortiment__button{
		width: 100%;
	}
}

/*-------------Swiper------------------*/
.images{
	margin: 50px 10px;
}
.images__title{
	margin-bottom: 40px;
}
.image-slider{
	padding: 30px 0 70px 0;
	height: 500px;
	width: 400px;
}
.image-slider__image{
    text-align: center;
}
.image-slider__image img{
	width: 400px;
	height: 400px;
}
/*Изменить стили стрелок(они реализованы при помощи иконочного шрифта и выводятся при помощи ::after*/
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
   color: #8B0000;
   font-size: 50px;
}
/*-----Миниатюры---------*/
.image-mini-slider{
    max-width: 900px;
    margin: 0 auto;
}
.image-mini-slider__slide{
	opacity: 0.2;
	transition: opacity 0.3s ease 0s;
}
.image-mini-slider__slide.swiper-slide-thumb-active{
	opacity: 1;
}
.image-mini-slider__image{
	position: relative;
   	cursor: pointer;
	height: 150px;
	width: 150px;

}
.image-mini-slider__image img{
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.images-slider__title{
    font-weight: 400;
    font-size: 20px;
    color: #ba9957;
    font-family: Philosopher;
	font-style: italic;
	padding: 15px;
	max-width: 300px;
}
.images-slider__title span{
    color: #634d21;
}
@media (max-width: 1080px) {
	.image-mini-slider__image{
		height: 100px;
		width: 100px;
	}
	.image-mini-slider__image{
		max-width: 600px;
	}
}
@media (max-width: 630px) {
		.image-mini-slider__image{
		height: 60px;
		width: 60px;
	}
	.image-mini-slider__image{
		max-width: 360px;
	}
}
@media (max-width: 420px) {
	.image-slider{
		width: 300px;
		padding: 30px 0;
		height: 400px;
	}
	.image-slider__image img{
	width: 300px;
	height: 300px;
}
}
@media (max-width: 390px) {
		.image-mini-slider__image{
		height: 50px;
		width: 50px;
	}
	.image-mini-slider__image{
		max-width: 300px;
	}
}
/*--------------------------------------*/


.consultation{
	padding: 30px 0px;
}
.consultation__wrapper{
	display: flex;
	justify-content: space-between;
	gap: 60px;
	padding: 60px 30px 30px;
}
.consultation__text{
    color: #8B4513;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	padding: 20px;
}
.consultation__text a{
	font-style: italic;
	color: #8B0000;
	font-weight: 700;
	white-space: nowrap;
}
.consultation__text a:hover{
	text-decoration: underline;
}
.consultation__video{
	width: 350px;
	height: 350px;
	order: 2;
}
.consultation__text{
	order: 1;
}
.consultation__video-img img{
	width: 75px;
	height:75px;
}
@media (max-width: 950px) {
	.consultation__wrapper{
		flex-direction: column;
		padding: 30px 0;
	}
	.consultation__video{
		margin: 0 auto;
	}
}
@media (max-width: 580px) {
	.consultation__video{
	width: 315px;
	height: 200px;
}
}
@media (max-width:450px) {
	.consultation__text{
		font-size: 20px;
		padding: 5px;
	}
}

/*------------------------------*/
.feedback{
	padding: 20px 5px;
}
.feedback__form{
	margin: 60px 0px;
}

.feedback__input,.feedback__textarea{
	border: 0.5px solid #000;
	color:#8B4513;
	font-size: 22px;
    font-family: inherit;
	line-height: 1.1;
    background-color: #D3D3D3;
}

.feedback__input:active,.feedback__textarea:active{
	border: 0.8px solid #000;
}
.feedback__textarea-label{
	display: block;
	margin-top: 30px;
	cursor: pointer;
}
.feedback__input-label{
	cursor: pointer;
}
.feedback__textarea-label,
.feedback__input-label,
.feedback__legend{
	color: #8B4513;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 6px;
}
.feedback__textarea{
	resize: none;
	width: 80%;
	height: 80px;
	padding: 5px;
}
.feedback__input{
	width: 300px;
	height: 30px;
	margin-left: 10px;
	padding: 2px 5px;
}
.feedback__input::placeholder{
 	color:rgb(186, 153, 87);
    font-size: 20px;
}
.feedback__textarea::placeholder{
    font-size: 20px;
}

.feedback__radio-label{
	margin-right:10px ;
}
.feedback__radio-label span{
	color:#8B4513;
	font-size: 20px;
}
.feedback__button{
	text-align: center;
	margin: 20px auto 0;
	display: block;
	font-family: inherit;
	font-weight: 700;
	font-size: 22px;
	color: #8B4513;
	line-height: 1.2;
	padding: 15px;
	background-color: rgba(186, 153, 87, 0.8);
	width: 300px;
	border-radius: 10px;
	transition: all 0.5s ease 0s;
}
.feedback__button:hover{
    box-shadow: 6px 10px 10px 5px #8B4513;
    transform: translate(10px 10px);
}
.feedback__legend{
	padding: 0px 20px;
	margin-left: 40px;
}
.feedback__fieldset{
    border: 0.5px solid;
    margin: 30px 0;
    width: 700px;
    padding: 10px;
}

/*--------Радиокнопки-----------*/
.feedback__radio-item {
	position: relative;
	padding: 0px 0px 0px 50px;
	font-size: 16px;
	line-height: 30px;
	color: #b2b2b2;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.feedback__radio-item.active{
	color: #000;
}
.feedback__radio-item.active::after{
	transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1) ;
	-webkit-transform: scale(1) ;
	-o-transform: scale(1) ;
}
.feedback__radio-item::before{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #bfc0c4;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	
}
.feedback__radio-item::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: 5px;
	top: 5px;
	background-color: rgb(186, 153, 87);
	border-radius: 50%;

	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;

	transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0) ;
	-webkit-transform: scale(0) ;
	-o-transform: scale(0) ;
}
.feedback__radio-item input{
	display: none;
}

@media (max-width: 1000px) {
	.feedback__textarea{
		width: 100%;
	}
}
@media (max-width: 730px) {
	.feedback__fieldset{
		width: 100%;
		height: auto;
	}
	.feedback__legend{
		margin-left: 10px;
		padding: 0px 5px;
	}
}
@media (max-width: 450px) {
.feedback__textarea-label,
.feedback__input-label,
.feedback__legend{
	font-size: 20px;
	line-height: 1.2;
}
.feedback__legend{
	margin-left: 5px;
}
}

/*-------------------------*/
.footer{
	background-color: rgba(186, 153, 87, 0.8);
	padding: 30px;
}
.footer__item{
	margin: 10px 5px;
}
.footer__container{
	display: flex;
	justify-content: space-around;
	font-size: 20px;
}
.footer__container a{
	color: #000;
	margin: 3px 5px 0px 0px;
    transition: all 0.5s ease 0s;
}
.footer__phone-link,
.footer__mail-link,
.footer__skupe-link{
    display: flex;
	align-items: center;
	transition: all 0.5s ease 0s;
}
.footer__container img{
	width: 50px;
	height: 50px;
}
.footer__item a:hover,
.footer__phone-link:hover span,
.footer__mail-link:hover span,
.footer__skupe-link:hover span{
	text-decoration: underline;
}
@media (max-width: 470px) {
.footer__container{
	display: block;
}
.footer__items{
	margin-bottom: 10px;
}
}